<div class="input-group input-group-lg">
		<label for="calc-display" class="sr-only">Calculator Display</label>
		<input id="calc-display" class="form-control" type="text" value={{equation}} >
</div>
<table id="calc-buttons" height={{tableWidth}} class="w-100 mt-3">
		<tbody>
				<tr>
						<td colspan="3">
								<button type="reset" class="btn btn-number w-100 h-100" {{action "clear"}}>Clear</button>
						</td>
						<td>
								<button type="button" class="btn btn-action w-100 h-100" {{action "input" "รท"}}>&divide;</button>
						</td>
				</tr>
				<tr>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "7"}}>7</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "8"}}>8</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "9"}}>9</button>
						</td>
						<td>
								<button type="button" class="btn btn-action w-100 h-100" {{action "input" "ร"}}>&times;</button>
						</td>
				</tr>
				<tr>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "4"}}>4</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "5"}}>5</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "6"}}>6</button>
						</td>
						<td>
								<button type="button" class="btn btn-action w-100 h-100" {{action "input" "-"}}>&minus;</button>
						</td>
				</tr>
				<tr>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "1"}}>1</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "2"}}>2</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "3"}}>3</button>
						</td>
						<td>
								<button type="button" class="btn btn-action w-100 h-100" {{action "input" "+"}}>&plus;</button>
						</td>
				</tr>
				<tr>
						<td colspan="2">
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "0"}}>0</button>
						</td>
						<td>
								<button type="button" class="btn btn-number w-100 h-100" {{action "input" "."}}>&period;</button>
						</td>
						<td>
								<button type="submit" class="btn btn-action w-100 h-100" {{action "solve" equation}}>&equals;</button>
						</td>
				</tr>
		</tbody>
</table>