<div class="input-group input-group-lg">
		<label for="calc-display" class="sr-only">Calculator Display</label>
		<input id="calc-display" class="form-control" type="text" value={{equation}} readonly>
</div>
<table id="calc-buttons" class="w-100 mt-3">
		<tbody>
				<tr>
						<td height={{cellHeight}} colspan="3">
								<div>
										<button type="reset" class="btn btn-number" {{action "clear"}}>Clear</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-action" {{action "input" "รท"}}>&divide;<span class="sr-only">Divide</span></button>
								</div>
						</td>
				</tr>
				<tr>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "7"}}>7</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number " {{action "input" "8"}}>8</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "9"}}>9</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-action" {{action "input" "ร"}}>&times;<span class="sr-only">Multiply</span></button>
								</div>
						</td>
				</tr>
				<tr>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "4"}}>4</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "5"}}>5</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "6"}}>6</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-action" {{action "input" "-"}}>&minus;<span class="sr-only">Subtract</span></button>
								</div>
						</td>
				</tr>
				<tr>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "1"}}>1</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "2"}}>2</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "3"}}>3</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-action" {{action "input" "+"}}>&plus;<span class="sr-only">Add</span></button>
								</div>
						</td>
				</tr>
				<tr>
						<td height={{cellHeight}} colspan="2">
								<div>
										<button type="button" class="btn btn-number" {{action "input" "0"}}>0</button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="button" class="btn btn-number" {{action "input" "."}}>&period;<span class="sr-only">Decimal</span></button>
								</div>
						</td>
						<td height={{cellHeight}}>
								<div>
										<button type="submit" class="btn btn-action" {{action "solve" equation}}>&equals;<span class="sr-only">Equals</span></button>
								</div>
						</td>
				</tr>
		</tbody>
</table>