<label for="ChooseTheme" class="mt-sm-5">Choose Theme</label>
<select id="ChooseTheme" class="form-control" onChange={{action "setThemeAction" value="target.value"}}>

		{{!-- Default Theme  --}}
		{{#if (eq @activeTheme "default")}}
				<option value="default" selected="selected">Default</option>
		{{else}}
				<option value="default">Default</option>
		{{/if}}

		{{!-- Themes from API --}}
		{{#each themes as |theme|}}
				{{#if (eq @activeTheme theme.class-name)}}
						<option value={{theme.class-name}} selected="selected">
								{{theme.name}}
						</option>
				{{else}}
						<option value={{theme.class-name}}>
								{{theme.name}}
						</option>
				{{/if}}
		{{/each}}


</select>