
<section class="container py-3">
		<h1 class="text-center text-capitalize">{{activeTheme}}</h1>
		<article class="row">
				<div class="col-12 col-sm-6 order-sm-2 col-lg-4 pt-5">
							<Theme @themes={{this.model}} @activeTheme={{activeTheme}} @onChange={{action (mut activeTheme)}} />
				</div>
				<div class="col-12 col-sm-6 order-sm-1 col-lg-4 offset-lg-2">
							<div class="bg-{{activeTheme}} border p-3 rounded mt-5">
									<Calculator @equation={{equation}} @tableWidth={{tableWidth}}/>
							</div>
				</div>
		</article>
</section>